@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background: rgb(0, 74, 156);
  background: linear-gradient(
    90deg,
    rgba(0, 74, 156, 1) 0%,
    rgba(237, 55, 111, 0.9668242296918768) 100%
  );
}
.todo {
  border: 1px solid black;
  margin: 10% 30%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
}

.done {
  color: rgb(7, 110, 7);
  text-decoration: line-through;
}

.undone {
  color: rgb(255, 255, 255);
}

li {
  list-style-type: "⭐";
  font-family: "Open Sans";
}

h2 {
  font-family: "Open Sans";
  color: aliceblue;
}
